<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
  
    <% for( let key in obj ) { %>
        <label>
            <%=key %>
        </label>
        <% if(typeof obj[key]=='object') { let value=obj[key] %>
            <select>
                <% for( let eachValue of value.list) { %>
                    <%let selected='' %>
                        <option value="<%=eachValue%>" 
                            <% if(value.value==eachValue) selected='selected' %>
                            <%=selected%>>
                            <%=eachValue%>
                        </option>
                <% } %>
            </select>
        <% } else { %>
            <input type="text" value="<%=obj[key]%>" />
        <% } %>
        <br/>
    <% } %>
    
</body>

</html>
