<!DOCTYPE html>
<head>
    <title th:text="${item.id != null ? 'Edit Item' : 'Add Item'}"></title>
</head>
<body>
    <h1 th:text="${item.id != null ? 'Edit Item' : 'Add Item'}"></h1>
    <form th:action="@{${url}}" method="post">
        <label>Name: <input type="text" th:value="${item.name}" name="name"/></label><br/>
        <label>Quantity: <input type="number" th:value="${item.quantity}" name="quantity"/></label><br/>
        <label>Price: <input type="number" step="0.01" th:value="${item.price}" name="price"/></label><br/>
        <button type="submit">Save</button>
    </form>
</body>
</html>